<!DOCTYPE html>
<html>
<head>
  <title>DMUSocialProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render '/layouts/nav' %>

  <% if params[:id] != nil %>
    <% @url = '/user/' + params[:id] %>
    <% if current_page?(@url) %>
      <img src="/dmubanner1.jpg" class="profile-banner">
        <div class="col-sm-12" style="background-color: white;">

          <div class="container">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6" style="margin-top: 5px">
              <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">POSTS<br>
                      <h6 style="color: #0084B4; font-size: 150%;"><%= User.find_by_username(params[:id]).posts.count %></h6></div>
              <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">FOLLOWERS<br>
                      <h6 style="color: #0084B4; font-size: 150%;"><%= User.find_by_username(params[:id]).followers.count %></h6></div>
              <% if user_signed_in? %>

                <div class="edit">
                  <a href="/users/edit"><li type="button" class="btn btn-primary">EDIT PROFILE</li></a>
                </div>
              <% end %>
            </div>
          </div>
        </div>

    <% end %>
  <% end %>

<a href="#" id="scroll" style="display: none;"><span></span></a>

<div class="container">
<div class="Post-Alert">
  <span class="alert"><%= alert %></span>
</div>
<div class="Post-Notice">
<span class="notice"><%= notice %></span>
</div>

  <%= yield %>

</div>


<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li>
      <a href="https://twitter.com/dmuleicester?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon fa-twitter">
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/dmuleicester" class="icon fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dmuleicester/?hl=en" class="icon fa-instagram">
        <span class="label">Instagram</span>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/DeMontfortUniversity" class="icon fa-youtube">
        <span class="label">Youtube</span>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; De Montfort University</li>
  </ul>
</footer>




</body>
</html>
