<section id="animegrid">
  <main class="container">
    <h1 class="lang" key="chottolan3">Login To Account</h1>
  </main>
</section>
<main id="youtubemain">
  <!-- Main -->
  <main id="main-wrapper">

    <main id="chottoitsanimecontainer">
      <span class="image">
        <img src="\login.png"></img>
      </span>
    </main>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <center>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </center>
  </div>
<% end %>

</main-wrapper>
</main>
